
/* {
  "white": "#ECF0F1",
  "black": "#292829",
  "green": "#60B91B",
  "red": "#D14C31",
  "lightblue": "#47ABDB",
  "darkblue" : "#3997D8"
} */

p, h1, h2, a, label {
  font-family: 'Open Sans', sans-serif;
}

button {
  outline: none;
  background: none;
}

input {
  border: none;
  outline: none;
  color: #000;
}

::placeholder {
  color: #aaa;
}

.nav {
  display: flex;
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  height: 70px;

  background: #fff;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 0 10px;
  z-index: 100;
}

.logo {
  background: white;
  border: none;
}

.logo img {
  height: 40px;
  border: none;
}

.con {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.profile {
  margin-right: 15px;
  border: none;
  display: flex;
}

.profile img {
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
}

.open {
  font-size: 22px;
  border-radius: 10%;
  background: none;
  padding: 20px;
  border: none;
  outline: none;
  transition: .3s ease-in-out;
}
.open:active {
  border-radius: 10%;
}
.open:hover {
  border-radius: 10%;
  color: #47ABDB;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 16px;
  width: 50%;
  border: 2px solid #ddd;
  transition: .3s ease-in-out;
  border-radius: 5px;
}

.search input {
  width: 92%;
  padding: 8px 10px;
  font-size: 18px;
  border-right: 2px solid #eee;
}

.searchIconContainer {
  width: 80px;
  color: #666;
  background-color: #fafafa;
  display: flex;
}
.searchIconContainer i {
  margin: auto;
  align-self: center;
  transition: .2s ease-in-out;
}
.searchIconContainer:hover i {
  color: #47ABDB;
  padding-bottom: 3px;
  transform: rotate(10deg);
}

.sidebar {
  height: 100%;
  width: 270px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  border-right: 1px solid #ddd;
  overflow-x: hidden;
  transition: 0.5s;
  background: #ecf0f1;
}

.list {
  transition: 0.6s;
  padding-top: 80px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.sidebar p {
  padding: 10px;
  font-size: 24px;
  color: #444;
}

.sidebar ul {
  padding-left: 10px;
  width: 100%;
  border-bottom: 2px solid #e9e9e9;
}

.sidebar li {
  width: 100%;
  margin: 30px;
  margin-top: 20px;
}

.sidebar a {
  margin-left: 20px;
  font-size: 16px;
  color: #666;
  transition: 0.1s ease-in-out;
}

.sidebar a:active {
  color: #292829;
}

.sidebar a:hover {
  color: #47ABDB;
}

.sideHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 30px;
  padding-top: 10px;
  font-size: 16px;
}
.sideHeader p {
  font-size: 16px;
  font-weight: 900;
  padding-left: 15px;
}
.sideHeader i {
  color: #3997D8;
}














main {
  min-height: calc(100vh - 70px);
  width: calc(100vw - 270px);
  display: flex;
  margin-top: 70px;
  margin-left: 270px;
  transition: .5s;
  background: #fafafa;
  justify-content: center;
}

.container {
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 0px 20px;
}

.menu {
  display: inline-block;
  margin: 20px auto;
  background-color: white;
}

.menuItem {
  display: inline-block;
  text-align: center;
  padding: 12px 30px;
  color: #666;
  transition: 0.2s ease-in-out;
}
.menuItem:hover {
  color: #47ABDB;
}
.menuItem:hover p{
  color: #47ABDB;
}

.menuItem i {
  padding: 5px;
  font-size: 24px;
}
.menuItem p {
  transition: 0.2s ease-in-out;
  color: #aaa;
  padding: 5px;
  font-size: 12px;
  user-select: none;
}




.activeMenuItem, .activeMenuItem p{
  color: #3997D8;
}





.saveContainer {
  display: inline-block;
  padding: 50px 0px 100px 00px;
}
.saveContainer i {
  padding: 8px;
  font-size: 34px;
  color: #999;
  transition: 0.2s ease-in-out;
}
.saveContainer h1 {
  font-size: 18px;
  color: #999;
  transition: 0.2s ease-in-out;
  user-select: none;
}
.saveContainer:hover h1, .saveContainer:hover i {
  color: #47ABDB;
}










@media (max-width: 918px) {
  .logo {
    width: 0px;
    visibility: hidden;
  }
  .searchIconContainer {
    width: auto;
  }
  .searchIconContainer i{
    padding: 7px;
  }
}
