.content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  background: white;
  text-align: center;
}

.inputCon {
  width: 300px;
  text-align: center;
  padding: 30px;
}
.inputCon h1 {
  padding: 10px;
  font-weight: 900;
  font-size: 16px;
}

.field {
  background-color: #ecf0f1;
  padding: 10px 0px;
  text-align: center;
  width: 100%;
  font-size: 20px;
}

input {
  border: 1px solid #ddd;
  outline: none;
  width: 300px;
  height: 20px;
  margin: 2px 0px;
}
