.content {
  height: 100%;
}
.items {
  padding: 0px 10px;
  display: inline-block;
  background-color: white;
}

.videoItem {
  display: inline-block;
  padding: 20px 10px;
  width: 300px;
  word-break: break-word;
  white-space: normal;
}

.addPlaylistContainer {
  padding: 50px 0px 100px 00px;
}
.addPlaylistContainer i {
  padding: 8px;
  font-size: 34px;
  color: #999;
  transition: 0.2s ease-in-out;
}
.addPlaylistContainer h1 {
  font-size: 18px;
  color: #999;
  transition: 0.2s ease-in-out;
  user-select: none;
}
.addPlaylistContainer:hover h1, .addPlaylistContainer:hover i {
  color: #47ABDB;
}


.videoItem img {
  width: 100%;
}

.videoItem h1 {
  margin: 10px 0px 0px 0px;
  font-size: 16px;
  color: #3997D8;
  padding: 0px 0px;
}
