.content {
  background: white;
  padding: 10px 0px;
  text-align: center;
}

.item {
  margin: 10px 20px;
  width: calc(100% - 40px);
  align-items: center;
  display: flex;
}


.itemBody {
  display: inline-flex;
  width: 100%;
  background-color: white;
  transition: 0.2s ease-in-out;
}

.itemBody:hover {
  background-color: #eee;
}

.videoItem, .titleItem {
  display: inline-block;
  height: 80px;
}

.titleItem h1 {
  font-size: 22px;
  color: #666;
  transition: 0.2s ease-in-out;
}

.titleItem {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  padding-left: 20px;
}

.titleItem h2 {
  color: #3997D8;
  font-size: 16px;
  padding: 5px 0;
}

.titleItem h1 {
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

.videoItem img {
  height: 100%;
}
