{% extends "main.html" %}
{% block content %}

<link rel="stylesheet" href="public/css/main.css">
<title>{{'pagesIndex.dashBoard'|localize}}</title>


{% if today|length > 0 %}

  <div class="items">
    <div class="item">
      <h1>{{'pagesIndex.new'|localize}}</h1>
      <div class="videoList">
        {% for video in today %}

        <a href="{{'watch'|link}}&id={{video.video.videoId}}">
          <div class="videoItem">
              <img src="public/images/img2.png">
              <h1> {{ video.playlist.name }} </h1>
              <h2> {{ video.video.name }} </h2>
          </div>

        {% endfor %}
      </div>
    </div>
  </div>

{% endif %}

{% for i in 0..playlists|length %}
  {% if videos[i]|length > 0 %}

   <div class="item">
       <a href="{{'playlist'|link}}&id={{playlists[i].id}}"><h1> {{playlists[i].name}} </h1></a>
       <div class="videoList">
         {% for j in 0..playlists[i]|length-1 %}

         <a href="{{'watch'|link}}&id={{videos[i][j].videoId}}">
           <div class="videoItem">
             <img src="public/images/img2.png">
             <h1> {{playlists[i].name}} </h1>
             <h2> {{ videos[i][j].name }} </h2>
           </div>
          </a>

         {% endfor %}
       </div>
   </div>

  {% endif %}
{% endfor %}



</div>

{% endblock %}
