* {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
}

.container {
  text-align: center;
}
.landing {
  height: 98vh;
  width: 100vw;
  display: flex;
  text-align: center;
  flex-flow: column;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7857ea46fded9c0fcb5b65b9a20a41d9&auto=format&fit=crop&w=1682&q=80");
  background-attachment:fixed;
}

.titleArea, .buttonArea {
  flex: 1;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}
.buttonArea {
  margin-top: 250px;
}

.textHolder {
  text-align: center;
}

.buttonContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 30px;
}

.loginButton, .registerButton {
  margin: auto;
  height: 45px;
  width: 190px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  border: none;
  border-radius: 50px;
  margin: 50px;
  transition: 0.1s background ease-in-out;
}

.loginButton {
  background-color: #47ABDB;
  color: #FFFFFF;
}
.loginButton:hover {
  background-color: #1491CC;
}

.registerButton {
  background-color: #FFFFFF;
  color: #47ABDB;
}
.registerButton:hover {
  background-color: #ECF0F1;
}

.mediaSchoolNameText {
  color: rgba(100%, 100%, 100%, 0.8);
  font-size: 40px;
}
.mediaMainText {
  margin-top: -30px;
  color: rgba(100%, 100%, 100%, 0.8);
  font-size: 100px;
}

.info {
  background-color: #ECF0F1;
  padding: 0px 100px 100px 100px;
}

.infoTitleContainer {
  text-align: center;
  padding: 20px;
  color: #ECF0F1;
  text-align: center;
  background-color: #47ABDB;
}

.infoPoke {
  background-color: #ECF0F1;
  height: 5px;
  width: 150px;
  margin: 10px auto 10px auto;
  border-radius: 5px;
  animation: infoPoke 4s ease-in-out 1s infinite;
}

h2 {
  padding-top: 50px;
}

@keyframes infoPoke {
  0%, 30%, 50%, 70%, 90% {
    transform: translateY(0px);
  }
  20% { transform: translateY(-20px); }
  40% { transform: translateY(-10px); }
  60% { transform: translateY(-5px); }
  80% { transform: translateY(-2px); }
}


@media (max-width: 918px) {
  .mediaSchoolNameText {
    color: #FFFFFF;
    font-size: 40px;
  }
  .mediaMainText {
    margin-top: -30px;
    color: #FFFFFF;
    font-size: 80px;
  }

  .loginButton, .registerButton {
    margin: auto;
    height: 40px;
    width: 180px;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    border: none;
    border-radius: 50px;
    margin: 50px 10px 0px 10px;
    transition: 0.1s background ease-in-out;
  }
}
