* {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
}

.container {
  height: 100vh;
  width: 100vw;
  display: inline-flex;
}

.loginArea, .mediaArea {
  height: 100%;
  display: flex;
  align-items: center;
}
.loginArea {
  width: 600px;
  flex-direction: column;
  background-color: #fff;
  animation: 1.5s cubic-bezier(.28,.57,.37,1) 0s 1 fadeup;
}
.mediaArea {
  width: calc(100% - 600px);
  justify-content: center;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7857ea46fded9c0fcb5b65b9a20a41d9&auto=format&fit=crop&w=1682&q=80");
}

.titleContainer, .loginButtonContainer {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 30px;
}
.loginForm {
  flex: 2;
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.loginFormFields {
  flex: 1;
  width: 100%;
}

.loginField {
  display: flex;
}

.loginFieldIcon {
  margin-right: 10px;
  color: #47ABDB;
  font-size: 24px;
  margin-top: 5px;
}

.loginInputFieldContainer {
  width: 100%;
}

.loginInputField {
  margin-bottom: 40px;
  padding: 10px;
  width: 90%;
  border: none;
  font-size: 20px;
  background-color: #ecf6fb;
}

.submitButton {
  margin: auto;
  height: 45px;
  width: 190px;
  background-color: #47ABDB;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  border-radius: 50px;
  transition: 0.1s background ease-in-out;
}
.submitButton:hover {
  background-color: #1491cc;
}

.textHolder {
  text-align: center;
}

.mediaSchoolNameText {
  color: rgba(100%, 100%, 100%, 0.8);
  font-size: 40px;
}
.mediaMainText {
  margin-top: -30px;
  color: rgba(100%, 100%, 100%, 0.8);
  font-size: 100px;
}

.loginTitleText {
  color: #47ABDB;
  font-size: 40px;
}

.forgotPasswordLink {
  float: right;
  margin-top: -30px;
}
.signUpLink {
  flex: 0.6;
}


a {
  color: #aaaaaa;
  text-decoration: none;
}
a:hover {
  color: #D14C31;
}


input:focus, textarea:focus, select:focus, button:focus {
  outline: none;
}


@keyframes fadeup {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


@media (max-width: 918px) {
  .loginArea{
      width: 100%;
  }
  .mediaArea{
      width: 0%;
  }
  .mediaSchoolNameText {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
  .mediaMainText {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
  .titleContainer {
    flex: 0.5;
  }
  @keyframes fadeup {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

}
