button {
  outline: none;
  background: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.video {
  width: 85%;
  max-width: 1300px;
  margin: 20px auto;
  align-items: center;
  background: white;
  padding: 20px;
  border: 1px solid #eee;
}

.video video {
  width: 100%;
}

.video p {

}

.notes {
  display: flex;
  width: calc(85% + 40px);
  max-width: 1300px;

  margin-top: 20px;
  flex-direction: row;

  align-self: center;
  transition: .5s;
  padding-bottom: 20px;
}

.comments {
  width: 100%;
  height: 20vh;
  outline: none;
  font-size: 18px;
  border: 1px solid #eee;
  padding: 20px;
  resize: none;
}

.titles {
  width: calc(85% + 40px);
  max-width: 1300px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.titles h2 {
  font-size: 22px;
  color: #3997D8;
  padding: 5px;

}

.titles h1 {
  padding: 5px;
  font-size: 26px;
}

.description {
  width: 650px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.desc {
  transition: max-height .5s ease-in;
  max-height: 32px;
  width: 100%;
  word-wrap: break-word;
  white-space: pre-wrap;

  margin: 15px;
  overflow: hidden;

  font-size: 16px;
  border: none;
  background: #fafafa;
  color: #666;
}

.description button {
  font-size: 14px;
  margin-left: 10px;
  align-self: flex-start;
  border: none;
}

.description button:hover {
  color: #47ABDB;
}

.save {
  width: calc(85% + 40px);
  max-width: 1300px;
  align-self: center;
  display: flex;
  justify-content: flex-end;
}

.saveNotes {
  width: 120px;
  height: 40px;
  border: 2px solid #47ABDB;
  color: #777;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 16px;
}

.saveNotes:active {
  background: #eee;
}
